Node_red/flows.json
[{"id":"32e09e42.f98932","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8a1311db.5f28b","type":"mqtt in","z":"32e09e42.f98932","name":"","topic":"Temperatura","qos":"2","datatype":"auto","broker":"e49a9bab.b2d4c8","x":170,"y":280,"wires":[["a94113e8.28d0e","abd8cb45.a14c48"]]},{"id":"d6ea2dff.bfbb9","type":"mqtt in","z":"32e09e42.f98932","name":"Giroscopio","topic":"Giroscopio","qos":"2","datatype":"auto","broker":"e49a9bab.b2d4c8","x":220,"y":400,"wires":[["abd8cb45.a14c48","5919f0bd.8d8a4"]]},{"id":"5790ef2d.dcbd9","type":"sqlite","z":"32e09e42.f98932","mydb":"5baaa9d5.3468d8","sqlquery":"msg.topic","sql":"","name":"Mediciones","x":870,"y":180,"wires":[["9492f29c.53fb5"]]},{"id":"a94113e8.28d0e","type":"ui_gauge","z":"32e09e42.f98932","name":"","group":"695cccbb.009984","order":2,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":460,"wires":[]},{"id":"9492f29c.53fb5","type":"ui_table","z":"32e09e42.f98932","group":"dd9448b2.2f75f8","name":"Mediciones","order":0,"width":"10","height":"10","columns":[],"outputs":0,"cts":false,"x":1070,"y":180,"wires":[]},{"id":"49dea2c5.d89a6c","type":"function","z":"32e09e42.f98932","name":"insert","func":"var newmsg = { payload: msg.payload };\n\nnewmsg.topic =\"INSERT INTO Mediciones(dispID,temperatura,magnetico,giroscopio,aceleracion,tiempo) values(\"+msg.payload+\",time('now'))\"; \n\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":180,"wires":[["5790ef2d.dcbd9","6fec61c5.0834a"]]},{"id":"abd8cb45.a14c48","type":"join","z":"32e09e42.f98932","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":180,"wires":[["6517325e.e8566c"]]},{"id":"6517325e.e8566c","type":"template","z":"32e09e42.f98932","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":540,"y":180,"wires":[["49dea2c5.d89a6c"]]},{"id":"6fec61c5.0834a","type":"trigger","z":"32e09e42.f98932","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":820,"y":120,"wires":[["93fd65a6.157a78"]]},{"id":"93fd65a6.157a78","type":"function","z":"32e09e42.f98932","name":"show data","func":"var newmsg = { payload: msg.payload };\n\nnewmsg.topic =\"SELECT * FROM Mediciones\"; \n\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":120,"wires":[["5790ef2d.dcbd9"]]},{"id":"a9f15e3c.bcff1","type":"ui_chart","z":"32e09e42.f98932","name":"","group":"695cccbb.009984","order":2,"width":0,"height":0,"label":"Magnetometro","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":480,"y":320,"wires":[[]]},{"id":"5df5dcb.04fd124","type":"mqtt in","z":"32e09e42.f98932","name":"Magnetometro","topic":"Magnetometro","qos":"2","datatype":"auto","broker":"e49a9bab.b2d4c8","x":170,"y":340,"wires":[["abd8cb45.a14c48","a9f15e3c.bcff1"]]},{"id":"86be1055.99cd5","type":"mqtt in","z":"32e09e42.f98932","name":"Aceleracion","topic":"Aceleracion","qos":"2","datatype":"auto","broker":"e49a9bab.b2d4c8","x":230,"y":460,"wires":[["abd8cb45.a14c48","dd69bff1.d37cf"]]},{"id":"a1e2cb69.7f4188","type":"mqtt in","z":"32e09e42.f98932","name":"DispID","topic":"DispID","qos":"2","datatype":"auto","broker":"e49a9bab.b2d4c8","x":190,"y":100,"wires":[["abd8cb45.a14c48","3965a51d.a404ca"]]},{"id":"45031178.68ded","type":"ui_table","z":"32e09e42.f98932","group":"1e9648a9.d46f27","name":"Dispositivos","order":0,"width":"6","height":"6","columns":[],"outputs":0,"cts":false,"x":1070,"y":240,"wires":[]},{"id":"500c16bd.52c8d8","type":"sqlite","z":"32e09e42.f98932","mydb":"5baaa9d5.3468d8","sqlquery":"msg.topic","sql":"","name":"Dispositivos","x":870,"y":240,"wires":[["45031178.68ded"]]},{"id":"37f3d67f.d077da","type":"function","z":"32e09e42.f98932","name":"insert","func":"var newmsg = { payload: msg.payload };\n\nnewmsg.topic =\"INSERT INTO Dispositivos(dispositivoID,ubicacion,nombre) values(\"+msg.payload[0]+\",\\\"\"+msg.payload[1]+\"\\\",\\\"\"+msg.payload[2]+\"\\\")\"; \n\n//newmsg.topic =\"INSERT INTO Dispositivos(dispositivoID,ubicacion,nombre) values(1,\\\"hola\\\",\\\"bola\\\")\"; \n\nnewmsg.payload = 1\n\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":240,"wires":[["901319df.56daf8","500c16bd.52c8d8"]]},{"id":"901319df.56daf8","type":"trigger","z":"32e09e42.f98932","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":820,"y":300,"wires":[["4efd1292.5b24cc"]]},{"id":"4efd1292.5b24cc","type":"function","z":"32e09e42.f98932","name":"show data","func":"var newmsg = { payload: msg.payload };\n\nnewmsg.topic =\"SELECT * FROM Dispositivos\"; \n\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":300,"wires":[["500c16bd.52c8d8"]]},{"id":"3965a51d.a404ca","type":"join","z":"32e09e42.f98932","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":240,"wires":[["37f3d67f.d077da"]]},{"id":"9885257f.b50ad8","type":"mqtt in","z":"32e09e42.f98932","name":"Ubicacion","topic":"Ubicacion","qos":"2","datatype":"auto","broker":"e49a9bab.b2d4c8","x":180,"y":220,"wires":[["3965a51d.a404ca"]]},{"id":"81118c41.23317","type":"mqtt in","z":"32e09e42.f98932","name":"Nombre","topic":"Nombre","qos":"2","datatype":"auto","broker":"e49a9bab.b2d4c8","x":190,"y":160,"wires":[["3965a51d.a404ca"]]},{"id":"5919f0bd.8d8a4","type":"ui_chart","z":"32e09e42.f98932","name":"","group":"695cccbb.009984","order":2,"width":0,"height":0,"label":"Giroscopio","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":360,"wires":[[]]},{"id":"dd69bff1.d37cf","type":"ui_chart","z":"32e09e42.f98932","name":"","group":"695cccbb.009984","order":2,"width":0,"height":0,"label":"Aceleracion","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":400,"wires":[[]]},{"id":"410110ba.9f0c2","type":"mqtt in","z":"32e09e42.f98932","name":"led","topic":"led","qos":"2","datatype":"auto","broker":"e49a9bab.b2d4c8","x":270,"y":620,"wires":[["9a4acdb2.fc147"]]},{"id":"d221658.d116898","type":"mqtt out","z":"32e09e42.f98932","name":"led","topic":"led","qos":"","retain":"","broker":"e49a9bab.b2d4c8","x":450,"y":560,"wires":[]},{"id":"b227080d.1bdb28","type":"ui_switch","z":"32e09e42.f98932","name":"","label":"","tooltip":"","group":"1e9648a9.d46f27","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":560,"wires":[["d221658.d116898"]]},{"id":"9a4acdb2.fc147","type":"ui_led","z":"32e09e42.f98932","group":"1e9648a9.d46f27","order":1,"width":0,"height":0,"label":"Estado","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"str"},{"color":"green","value":"true","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":440,"y":620,"wires":[]},{"id":"e49a9bab.b2d4c8","type":"mqtt-broker","z":"","name":"mosquito","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5baaa9d5.3468d8","type":"sqlitedb","z":"","db":"/home/pi/db/db","mode":"RWC"},{"id":"695cccbb.009984","type":"ui_group","z":"","name":"Graficos","tab":"924cd872.ce89b8","order":2,"disp":true,"width":"6","collapse":true},{"id":"dd9448b2.2f75f8","type":"ui_group","z":"","name":"Mediciones","tab":"924cd872.ce89b8","order":3,"disp":true,"width":"10","collapse":false},{"id":"1e9648a9.d46f27","type":"ui_group","z":"","name":"Dispositivos","tab":"924cd872.ce89b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"924cd872.ce89b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
