Node_red/flows.json
[{"id":"a40ce0e0.388898","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c29287fe.9596e8","type":"mqtt in","z":"a40ce0e0.388898","name":"","topic":"Temperatura","qos":"2","datatype":"auto","broker":"b3d7c0d2.60458","x":170,"y":280,"wires":[["66574aca.4c8db4","bb4b9179.5432e"]]},{"id":"a3fe8045.dcb408","type":"mqtt in","z":"a40ce0e0.388898","name":"Giroscopio","topic":"Giroscopio","qos":"2","datatype":"auto","broker":"b3d7c0d2.60458","x":220,"y":400,"wires":[["bb4b9179.5432e","8ef001c7.273b8"]]},{"id":"be1fad33.d6f3c8","type":"function","z":"a40ce0e0.388898","name":"insert","func":"var newmsg = { payload: msg.payload };\n\nnewmsg.topic =\"INSERT INTO Mediciones(dispID,temperatura,magnetico,giroscopio,aceleracion,valvula,tiempo) values(\"+msg.payload+\",0,CURRENT_TIME())\"; \n\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":180,"wires":[["ed94747d.5df8d8","4135d2f5.61858c"]]},{"id":"bb4b9179.5432e","type":"join","z":"a40ce0e0.388898","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":180,"wires":[["6338cee1.25888"]]},{"id":"6338cee1.25888","type":"template","z":"a40ce0e0.388898","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":540,"y":180,"wires":[["be1fad33.d6f3c8"]]},{"id":"ed94747d.5df8d8","type":"trigger","z":"a40ce0e0.388898","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":820,"y":120,"wires":[["fc4c23c0.7aa438"]]},{"id":"fc4c23c0.7aa438","type":"function","z":"a40ce0e0.388898","name":"show data","func":"var newmsg = { payload: msg.payload };\n\nnewmsg.topic =\"SELECT * FROM `Mediciones`\"; \n\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":120,"wires":[["4135d2f5.61858c"]]},{"id":"b3f54f11.3e364","type":"mqtt in","z":"a40ce0e0.388898","name":"Magnetometro","topic":"Magnetometro","qos":"2","datatype":"auto","broker":"b3d7c0d2.60458","x":170,"y":340,"wires":[["bb4b9179.5432e","ceefc72a.40f3e8"]]},{"id":"ba95f40d.262d9","type":"mqtt in","z":"a40ce0e0.388898","name":"Aceleracion","topic":"Aceleracion","qos":"2","datatype":"auto","broker":"b3d7c0d2.60458","x":230,"y":460,"wires":[["bb4b9179.5432e","86083ba4.eb5418"]]},{"id":"8e57402d.b0649","type":"mqtt in","z":"a40ce0e0.388898","name":"DispID","topic":"DispID","qos":"2","datatype":"auto","broker":"b3d7c0d2.60458","x":190,"y":100,"wires":[["bb4b9179.5432e","f377f125.18d2c8","a6d02c4b.47d1a8"]]},{"id":"22c5dc41.04308c","type":"function","z":"a40ce0e0.388898","name":"insert","func":"var newmsg = { payload: msg.payload };\n\nnewmsg.topic =\"INSERT INTO Dispositivos(dispositivoID,ubicacion,nombre) values(\"+msg.payload[0]+\",\\\"\"+msg.payload[1]+\"\\\",\\\"\"+msg.payload[2]+\"\\\")\"; \n\n//newmsg.topic =\"INSERT INTO Dispositivos(dispositivoID,ubicacion,nombre) values(1,\\\"hola\\\",\\\"bola\\\")\"; \n\nnewmsg.payload = 1\n\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":240,"wires":[["fdc47db0.213538","aaaa390.627d848"]]},{"id":"fdc47db0.213538","type":"trigger","z":"a40ce0e0.388898","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":820,"y":300,"wires":[["b9595e5e.1efc78"]]},{"id":"b9595e5e.1efc78","type":"function","z":"a40ce0e0.388898","name":"show data","func":"var newmsg = { payload: msg.payload };\n\nnewmsg.topic =\"SELECT * FROM `Dispositivos`\"; \n\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":300,"wires":[["aaaa390.627d848"]]},{"id":"f377f125.18d2c8","type":"join","z":"a40ce0e0.388898","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":410,"y":240,"wires":[["22c5dc41.04308c"]]},{"id":"6ca8c261.6380e4","type":"mqtt in","z":"a40ce0e0.388898","name":"Ubicacion","topic":"Ubicacion","qos":"2","datatype":"auto","broker":"b3d7c0d2.60458","x":180,"y":220,"wires":[["f377f125.18d2c8"]]},{"id":"2b86bbb7.30a334","type":"mqtt in","z":"a40ce0e0.388898","name":"Nombre","topic":"Nombre","qos":"2","datatype":"auto","broker":"b3d7c0d2.60458","x":190,"y":160,"wires":[["f377f125.18d2c8"]]},{"id":"23c00af3.4f2c3e","type":"mqtt in","z":"a40ce0e0.388898","name":"led","topic":"led","qos":"2","datatype":"auto","broker":"b3d7c0d2.60458","x":270,"y":620,"wires":[["cd9e0c8c.927c38"]]},{"id":"8bf5b30d.d0934","type":"mqtt out","z":"a40ce0e0.388898","name":"led","topic":"led","qos":"","retain":"","broker":"b3d7c0d2.60458","x":450,"y":560,"wires":[]},{"id":"df38fa75.e053a","type":"ui_switch","z":"a40ce0e0.388898","name":"","label":"","tooltip":"","group":"d07d224a.00d16","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":560,"wires":[["8bf5b30d.d0934"]]},{"id":"66574aca.4c8db4","type":"ui_gauge","z":"a40ce0e0.388898","name":"","group":"87ccc0f9.b90158","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":460,"wires":[]},{"id":"ceefc72a.40f3e8","type":"ui_chart","z":"a40ce0e0.388898","name":"","group":"87ccc0f9.b90158","order":2,"width":0,"height":0,"label":"Magnetometro","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":480,"y":320,"wires":[[]]},{"id":"8ef001c7.273b8","type":"ui_chart","z":"a40ce0e0.388898","name":"","group":"87ccc0f9.b90158","order":3,"width":0,"height":0,"label":"Giroscopio","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":360,"wires":[[]]},{"id":"86083ba4.eb5418","type":"ui_chart","z":"a40ce0e0.388898","name":"","group":"87ccc0f9.b90158","order":4,"width":0,"height":0,"label":"Aceleracion","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":470,"y":400,"wires":[[]]},{"id":"cd9e0c8c.927c38","type":"ui_led","z":"a40ce0e0.388898","group":"d07d224a.00d16","order":2,"width":0,"height":0,"label":"Estado","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":440,"y":620,"wires":[]},{"id":"aaaa390.627d848","type":"mysql","z":"a40ce0e0.388898","mydb":"b67b5337.eac6d8","name":"","x":860,"y":240,"wires":[["dd36756d.c18318"]]},{"id":"79fffae2.626e8c","type":"ui_table","z":"a40ce0e0.388898","group":"e615f2e1.fb64e8","name":"Mediciones","order":1,"width":6,"height":10,"columns":[],"outputs":0,"cts":false,"x":1070,"y":180,"wires":[]},{"id":"dd36756d.c18318","type":"ui_table","z":"a40ce0e0.388898","group":"d07d224a.00d16","name":"Dispositivos","order":1,"width":6,"height":6,"columns":[],"outputs":0,"cts":false,"x":1070,"y":240,"wires":[]},{"id":"4135d2f5.61858c","type":"mysql","z":"a40ce0e0.388898","mydb":"b67b5337.eac6d8","name":"","x":860,"y":180,"wires":[["79fffae2.626e8c"]]},{"id":"a6d02c4b.47d1a8","type":"debug","z":"a40ce0e0.388898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":120,"wires":[]},{"id":"b3d7c0d2.60458","type":"mqtt-broker","z":"","name":"mosquito","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d07d224a.00d16","type":"ui_group","z":"","name":"Dispositivos","tab":"96f0a0c7.21f8a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"87ccc0f9.b90158","type":"ui_group","z":"","name":"Graficos","tab":"96f0a0c7.21f8a8","order":2,"disp":true,"width":6,"collapse":false},{"id":"b67b5337.eac6d8","type":"MySQLdatabase","z":"","name":"DA_IOT","host":"localhost","port":"3306","db":"DA_IOT","tz":"nodered"},{"id":"e615f2e1.fb64e8","type":"ui_group","z":"","name":"Mediciones","tab":"96f0a0c7.21f8a8","order":3,"disp":true,"width":"6","collapse":false},{"id":"96f0a0c7.21f8a8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
